@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

.site-align {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0px 40px;
}

.main {
    margin-top: 115px;
    font-family: 'Manrope', sans-serif;
}

@media(max-width:768px) {
    .main {
        overflow-x: hidden;
    }
}

@media(max-width:768px) {
    .main {
        margin-top: 85px;
    }
}

.main__title {
    font-size: 40px;
    color: #00147E;
    font-weight: 700;
    line-height: 125%;
    max-width: 620px;
    margin-bottom: 10px;
}

@media(max-width:768px) {
    .main__title {
        font-size: 30px;
        max-width: 100%;
    }
}

.main__subtitle {
    font-weight: 600;
    font-size: 20px;
    color: #232323;
    line-height: 30px;
    margin-bottom: 15px;
}

@media(max-width:768px) {
    .main__subtitle {
        font-size: 16px;
    }
}

.main__body {
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px) {
    .main__body {
        flex-direction: column;
    }
}

.body-main__column-1 {
    width: 47%;
    margin-right: 20px;
    flex-shrink: 0;
}

@media(max-width:768px) {
    .body-main__column-1 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.body-main__column-2 {
    position: relative;
    width: 53%;
    max-height: 662px;
}

@media(max-width:768px) {
    .body-main__column-2 {
        width: 100%;
    }
}

.body-main__list {
    margin-bottom: 15px;
    padding-left: 0;
}

.body-main__item {
    font-weight: 600;
    font-size: 18px;
    color: #232323;
    line-height: 30px;
    display: flex;
    align-items: center;
}

@media(max-width:768px) {
    .body-main__item {
        font-size: 14px;
    }
}

.body-main__item::before {
    content: '';
    background-image: url(./images/leaf.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.body-main__book,
.body-main__leaf {
    position: absolute;
    object-fit: cover;
}

.body-main__book {
    max-width: 662px;
    top: -65px;
    left: 0;
}

@media(max-width:768px) {
    .body-main__book {
        width: 550px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width:425px) {
    .body-main__book {
        transform: translateX(-40%);
    }
}

.body-main__leaf {
    z-index: -1;
    max-width: 500px;
    top: -20px;
    left: 70px;
}

@media(max-width:768px) {
    .body-main__leaf {
        width: 400px;
        top: 50px;
        left: 25px;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width:425px) {
    .body-main__leaf {
        width: 400px;
        top: 50px;
        left: 25px;
        transform: translateX(0);
    }
}

.body-main__form {
    background: #ff5f32;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
}

.body-main__form-input {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

input:autofill {
    background-color: #ff5f32 !important;
}

.body-main__form-input span {
    font-size: 14px;
}

.body-main__form-input label {
    margin-bottom: 5px;
}

.body-main__form-input input {
    padding: 0 10px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    border: 0;
    background: transparent;
}

.body-main__form-input:last-child {
    margin-bottom: 0;
}

.body-main__form-btn {
    width: 200px;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #FF5F32;
    cursor: pointer;
}

.body-main__form-btn:hover {
    opacity: 0.95;
}

@media(max-width:768px) {
    .body-main__form-btn {
        width: 350px;
    }
}

@media(max-width:425px) {
    .body-main__form-btn {
        width: 100%;
    }
}

.body-main__answer {
    display: none;
    padding: 20px;
    background: #ff5f32;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 187.5%;
    max-width: 400px;
}